flows.json
[{"id":"389d351c122ef09f","type":"tab","label":"Medicine Reminder","disabled":false,"info":"","env":[]},{"id":"735c40692ab5ec05","type":"inject","z":"389d351c122ef09f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":180,"y":180,"wires":[["975bf24bc228a342"]]},{"id":"fe67ca3415f1dfaf","type":"cloudant in","z":"389d351c122ef09f","name":"","cloudant":"","database":"medicine_reminder","service":"node-red-xrdrn-2021--cloudant-1638449414499-53511","search":"_id_","design":"","index":"","x":450,"y":180,"wires":[["5fed632d48592766"]]},{"id":"975bf24bc228a342","type":"function","z":"389d351c122ef09f","name":"newDate","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nglobal.set('time',time)\nmsg.payload=date+\" \"+time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":240,"wires":[["fe67ca3415f1dfaf"]]},{"id":"598f1c412e7d2be7","type":"function","z":"389d351c122ef09f","name":"","func":"msg.payload={\"command\":msg.payload.name}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":180,"wires":[["d47ca97e02df11b8","7b9461a35f045fd3"]]},{"id":"d47ca97e02df11b8","type":"debug","z":"389d351c122ef09f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":180,"wires":[]},{"id":"5fed632d48592766","type":"switch","z":"389d351c122ef09f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":240,"wires":[[],["598f1c412e7d2be7"]]},{"id":"7b9461a35f045fd3","type":"ibmiot out","z":"389d351c122ef09f","authentication":"apiKey","apiKey":"3d452f8fe12c0399","outputType":"cmd","deviceId":"09876","deviceType":"mobile","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":860,"y":220,"wires":[]},{"id":"348c105c564e9668","type":"function","z":"389d351c122ef09f","name":"id_name","func":"var d=msg.payload.date\nvar t=msg.payload.time\nmsg.payload = {\n    \"_id\":d+\" \"+t,\n    \"name\":msg.payload.name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":360,"wires":[["f2fa23e03e9df5f8","2c3d6740eafb3dc6","47aad98446a97e4a"]]},{"id":"f2fa23e03e9df5f8","type":"cloudant out","z":"389d351c122ef09f","name":"","cloudant":"","database":"medicine_reminder","service":"node-red-xrdrn-2021--cloudant-1638449414499-53511","payonly":true,"operation":"insert","x":590,"y":360,"wires":[]},{"id":"47aad98446a97e4a","type":"function","z":"389d351c122ef09f","name":"DMT","func":"msg.payload = {\n    \"date\":\"\",\n    \"name\":\"\",\n    \"time\":\"\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":400,"wires":[["6c93088343a5893a"]]},{"id":"6c93088343a5893a","type":"delay","z":"389d351c122ef09f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":330,"y":500,"wires":[["da0d4ab0e6c0dd64"]]},{"id":"da0d4ab0e6c0dd64","type":"ui_form","z":"389d351c122ef09f","name":"","label":"","group":"126d8b5ae9a907ac","order":1,"width":6,"height":3,"options":[{"label":"Enter the Medicine","value":"Name","type":"text","required":true,"rows":null},{"label":"Time (HH:MM) 24H","value":"Time","type":"time","required":true,"rows":null},{"label":"Date (YYYY-MM-DD)","value":"Date","type":"date","required":true,"rows":null}],"formValue":{"Name":"","Time":"","Date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":480,"y":500,"wires":[["2c3d6740eafb3dc6","348c105c564e9668"]]},{"id":"2c3d6740eafb3dc6","type":"debug","z":"389d351c122ef09f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":500,"wires":[]},{"id":"7aa3cfb34885e05f","type":"ui_spacer","z":"389d351c122ef09f","name":"spacer","group":"7d26d683fb1165d3","order":1,"width":26,"height":1},{"id":"c49d9295c091e589","type":"ui_spacer","z":"389d351c122ef09f","name":"spacer","group":"7d26d683fb1165d3","order":3,"width":13,"height":1},{"id":"4a4087497ffc2d5c","type":"ui_spacer","z":"389d351c122ef09f","name":"spacer","group":"7d26d683fb1165d3","order":4,"width":13,"height":1},{"id":"6944b524457b03d6","type":"ui_spacer","z":"389d351c122ef09f","name":"spacer","group":"7d26d683fb1165d3","order":5,"width":13,"height":1},{"id":"9deebb9902c6a29a","type":"ui_spacer","z":"389d351c122ef09f","name":"spacer","group":"7d26d683fb1165d3","order":6,"width":13,"height":1},{"id":"e4ea97cdf96c4e03","type":"ui_spacer","z":"389d351c122ef09f","name":"spacer","group":"7d26d683fb1165d3","order":7,"width":13,"height":1},{"id":"4e9f47f25f0f29a1","type":"ui_spacer","z":"389d351c122ef09f","name":"spacer","group":"7d26d683fb1165d3","order":8,"width":13,"height":1},{"id":"3d452f8fe12c0399","type":"ibmiot","name":"IBM IOT API","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"126d8b5ae9a907ac","type":"ui_group","name":"Medical Reminder","tab":"25efaa24f8e246d2","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"25efaa24f8e246d2","type":"ui_tab","name":"VIT-B Dashboard","icon":"dashboard","disabled":false,"hidden":false}]